@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
body{
    font-family: Helvetica;
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: #1D3557;
    color: #1D3557;
}
:root{
    --topShip : calc(100vh - 290px);
    --topShip2 : calc(100vh - 220px)
}
#nav-side-animate{
    display: none;
}
#wrapper-wave{
    position: absolute;
}
#title-home{
    color: #E63946;
    text-align: center;
}
#container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 4pc auto;
}
#ctn-home, #ctn-about-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ctn-home{
    width: 100%;
    height: 100%;
    flex-direction: row;
    background-color: #1D3557;
    z-index: -4;
}
#title-home1,#title-home2,#title-home3{
    margin: 0%;
}
#title-home1{
    font-size: 3rem;
}
#title-home2{
    font-size: 5rem;
    color: #A8DADC;
    font-weight: bold;
}
#title-home3{
    font-size: 1.3rem;
}
#btn-continue{
    background-color: #A8DADC;
    width: 189px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ctn-intro-home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1FAEE;
}
#intro-home{
    margin-top: -3pc;
}
#ctn-img-home{
    width: 650px;
    height: 600px;
    margin-right: -4pc;
}
#wave2{
    position: absolute;
    background-image: url("../icons/WD2 (2).png");
    width: 300%;
    height: 174px;
    z-index: -2;
    background-position: bottom;
    top: calc(100vh - 174px);
    animation: waveAnimation linear infinite 10s ;
}

#wave3{
    position: absolute;
    background-image: url("../icons/WD1 (1).png");
    width: 300%;
    height: 110px;
    z-index: -1;
    background-position: bottom;
    top: calc(100vh - 110px);
    animation: waveAnimation linear infinite 10s;
}
#ship{
    position: absolute;
    background-image: url("../icons/Barco.png");
    width: 375px;
    height: 194px;
    left: calc(50% + (40% - 375px));
    animation: shipAnimation linear infinite 10s;
    z-index: -2;
}
@keyframes shipAnimation {
    0%{
        top: var(--topShip);
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(15deg);
        top: calc( var(--topShip) + 50px);
    }50%{
        transform: rotate(0deg);
        top: var(--topShip);
    }
    75%{
        transform: rotate(15deg);
        top: calc( var(--topShip) + 50px);
    }100%{
        transform: rotate(0deg);
        top: var(--topShip);
    }
}
@keyframes waveAnimation {
    0%{
        left: 0px;
    }
    100%{
        left: -1440px;
    }
}
#ctn-sun{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: -3;
}
#sun{
    width: 500px;
    height: 500px;
    background-color: #E63946;
    border-radius: 50%;
}
.IconLogo2{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.ctn-nav-logo{
    height: 100%;
    width: 60px;
}
nav{
    position: sticky;
    background-color: #1D3557;
}
#nav-default{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.ctn-nav-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #1D3557;
    margin-left: 10px;
}
.link-item{
    width: fit-content;
    height: 1rem;
    padding: 1pc;
    display: flex;
    margin-left: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.link-item:hover{
    color: #ffffff;
}
.link-item:focus{
    background-color: #457B9D;
    
}

#ctn-cv{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.btn{
    cursor: pointer;
    border-radius: 5px;
    color: #f1faee;
    background-color: #E63946;    
}

.transition{
    width: 100%;
    height: 100%;
    background-color: #e6394760;
    animation-name: transition;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.ctn-icon{
    width: fit-content;
    height: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0%;
}
.icon-peru{
    margin-left: 10px;
    width:35px  ;
    height: 20px;
}
.icon-location{
    width: 20px;
    height: 20px;
}

.icon{
    width: 40px;
    height: 40px;
    border: 1.5px solid #f1faee;
    border-radius: 50%;
    background-color: #f1faee;
}
@keyframes transition {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-200%);
    }
}
.transition-cover{
    width: 100%;
    height: 100%;
    background-color: #E63946;
    animation-name: transition-cover;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes transition-cover {
    0%{
        transform: translateY(100%);
    }
    20%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

.ctn-slider-projects{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 90vh;
    row-gap: 10px   ;
    animation-name: glass-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
#title-projects{
    color: #f1faee;
}
#slider-project{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#project1{
    width: 840px;
    height: 580px;
}
.ctn-img-project{
    object-fit: cover;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.ctn-content-project{
    margin: auto;
    width: 600px;
    height: 180px;
}
.title-project{
    margin: 0%;
    font-size: 2rem;
}
@media only screen and (max-width: 991px){
    #nav-default{
        display: none;
    }
    #nav-side-animate{
        display: block;
    }
    #ctn-burguer{
        width: 100px;
        height: 5vh;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .line-burguer{
        display: block;
        width: 40px;
        height: 5px;
        border-radius: 3px;
        margin-top: 5px;
        background-color: #F1FAEE;
    }

    #ctn-logo-items{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .ctn-nav-items{
        position: absolute;
        background-color: #E63946;
        width: 80%;
        height: 100%;
        top: 0px;
        flex-direction: row;
        left: -100%;
    }
    .ctn-nav-items-active{
        top: 4pc;
        width: 100%;
        height: calc(100vh - 4pc);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1D3557;
        z-index: 1000;
    }
    .link-item{
        height: 3pc;
        margin-left: 0px;
        width: 40%;
        padding: 0pc;
        margin-top: 5px;
    }
    #ctn-home{
        width: 100%;
        height: auto;
        padding-top: 4pc;
        flex-direction: column;
    }
    #container{
        height: auto;
    }
    
    #sun{
        width: 400px;
        height: 400px;
    }
    #wave2{
        top: calc(100vh - 110px);
    }
    #wave3{
        top: calc(100vh - 40px);
    }
    @keyframes shipAnimation {
        0%{
            top: var(--topShip2);
            transform: rotate(0deg);
        }
        25%{
            transform: rotate(15deg);
            top: calc( var(--topShip2) + 50px);
        }50%{
            transform: rotate(0deg);
            top: var(--topShip2);
        }
        75%{
            transform: rotate(15deg);
            top: calc( var(--topShip2) + 50px);
        }100%{
            transform: rotate(0deg);
            top: var(--topShip2);
        }
    }
}