#ctn-projects{
    width: 100%;
    height: auto;
    background-color: #F1FAEE;
}
#ctn-intro-project{
    background-color: #1D3557;
    width: 100%;
    height: 40vh;
}
#ctn-projects{
    width: 100%;
    height: 70vh;
}