
.container-articulos{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(40%,60%));
}
.ctn-arts{
    margin-left: 5pc;
    margin-top: 2pc;
}
.bg-intro-article{
    display: flex;
    flex-direction: column;
}
.intro-title{
    margin: 0%;
}
.intro-data{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    color: rgb(78, 78, 78);
}
.avatar-author{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.intro-desc{
    font-size: 1.2em;
}
.intro-img{
    width: 100%;
}

.intro-author{
    font-weight: 600;
    margin-right: 10px;
    margin-left: 5px;
}
.ctn-intro-img,.sec-img{
    margin-top: 3pc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-img{
    margin-top: 1pc;
}
.img-description{
    font-size: 0.8em;
    color: rgb(71, 71, 71);
}
.bg-content{
    margin-top: 2pc;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1em;
    color: rgb(77, 77, 77);
}
.sec-note{
    padding-left: 8px;
    font-weight: 200;
    border-left: 3px rgb(51, 51, 51) solid;
}
.sbttle{
    margin: 0%;
    margin-bottom: 1pc;
}
.sec-sbttle{
    margin-top: 1pc;
    border-bottom: 1px solid rgb(51, 51, 51);
    margin-bottom: 1pc;
}
ul{
    margin: 0%;
    margin-bottom: 1pc;
}