.bg-intro{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 139, 139);
}
.intro-searchBar{
    width: 40vw;
    height: 30px;
    outline: none;
    padding-top: 10px;
}
.bg-art{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2pc;
}
.ctn-art{
    width: 900px;
    height: auto;
    background-color: white;
    margin-top: -40px;
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-columns: repeat(2,minmax(400px,500px));
    grid-template-rows: repeat(auto, minmax(60vh,70vh));
}