body{
    font-family: Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}
#container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 96vh  160vh 60vh 160vh 80vh 80vh 10vh ;
}
.container-all-article{
    width: 100%;
    display: grid;
    grid-template-rows: 8vh auto 10vh;
}
ul{
    margin: 0%;
}
header{
    width: 100%;
    height: 8vh;
    background-color: #1c171f;
    text-align: center;
}
.ctn-icon-web{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 20%;
}
.logo{
    font-family: Bodoni;
    color: #ffdca9;
    font-size: 2.1em;
    margin: 0%;
    margin-top: 5px;
}
.link-style{
    text-decoration: none;
}
.nav-item{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
}
.nav-item:hover{
   border-bottom: solid 3px #c51f3a ;
}
.bg-header{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #1c171f;
    color: white;
    z-index: 1;
}
.name-bold{
    color: #ce1d3f;
    font-family: Bodoni;
    font-weight: 700;
}
.name-2{
    font-size: 1.2em;
}
.name-bold-2{
    font-size: 3.4em;
}
.img-bg-header,.img-header{
    margin-top: 20px;
    width: 612px;
    height: 612px;
    z-index: 2;
}

.bg-circle-1{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 50%;
    background-color: #e5b780;
    top: 200px;
    left: 600px;
    right: 0px;
    z-index: 1;
}
.txt-bg-header{
    display: block;
    text-align: center;
    width: 500px;
}
.bg-about{
    background-color: #211c24;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
#ctn-txt-about{
    width: 400px;
    height: 40vh;
    margin-left: 10px;
    color: white;
}
#ctn-txt-about{
    padding-left: 1pc;
}
#ctn-img-about{
    width: 300px;
    height: 300px;
    position: relative;
    background-color: #ffdca9;
    border-radius: 50%;
}
.img-about{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.sbttl-1{
    display: block;
    position: relative;
    margin-top: 4pc;
    width: auto;
    font-size: 2em;
    font-weight: 700;
}
.desc-1{
    font-weight: 300;
    font-size: 0.9em;
}
.desc-2{
    width: 250px;
}
.sbttl-1::before{
    position: absolute;
    content: "";
    width: 80px;
    height: 40px;
    border-bottom: 3px solid #e5b780;
}
.sbttl-2{
    position: relative;
}
.sbttl-2::before{
    content: "";
    position: absolute;
    height: 40px;
    width: 80px;
    border-bottom: 3px #e5b780 solid;
}
.sbttl-3{
    font-weight: 200;
    color: gray;
}
.bg-proyects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ctn-proyect{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3,300px);
    row-gap: 20px;
    height: auto;
    width: 800px;
}
.ctn-proyect-card{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 10px 8px 5px  rgba(212, 212, 212, 0.87);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ctn-img-proyect{
    width: 250px;
    height: 250px;
    background-color: honeydew;
}
.img-proyect{
    object-fit: cover;
    width: 250px;
    height: 250px;
}
.ctn-txt-proyect{
    width: 400px;
    height: 250px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.btn-proyect{
    width: fit-content;
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(49, 49, 117);
    color: white;
}
.bg-hobbies{
    background-color: #1c171f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
#ctn-hobbie{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 15px;
    width: 700px;
    height: 200px;
    transform: translateX(0%);
}
.ctn-hobbie-card{
    height: 200px;
    border-radius: 50%;
    text-align: center;
}
.bg-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ctn-title-blog{
    width: 950px;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.ctn-blog{
    width: 850px;
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,400px));
    grid-template-rows: 60vh 60vh;
    grid-template-areas: 
    "cardBlog1 cardBlog2"
    "cardBlog3 cardBlog4"
    ;

    column-gap: 30px;
    row-gap: 10px   ;
}
.ctn-blog-card{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 35vh 20vh;
    row-gap: 7px;
}
#blog-card-1{
    grid-area: cardBlog1;
}
#blog-card-2{
    grid-area: cardBlog2;
}
#blog-card-3{
    grid-area: cardBlog3;
}
#blog-card-4{
    grid-area: cardBlog4;
}
.img-blog-card{
    background-color: gray;
}
.img-blog{
    width: 400px;
    height: 250px;
}
.txt-blog-card{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}
.bg-yt{
    background-color: rgb(61, 61, 61);
}
.sbttl-card{
    display: inline-block;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: auto;
    font-size: 1.5em;
}
.desc-card{
    display: inline-block;
    font-size: 0.9em;
    padding: 0%;
    margin: 0%;
}
.foot-card{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tag-foot-card, .time-foot-card{
    display: inline-block;
    padding: 0%;
    margin-top: 10px;
    width: auto;
    height: 3vh;
}
.tag-foot-card{
    background-color: rgba(0, 0, 0, 0.308);
    padding: 4px;
    border-radius: 5px;
}

footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(15, 13, 13);
    text-align: center;
    color: white;
}
@media only screen and (max-width : 990px ) {
    #container{
        grid-template-rows: 7vh 80vh 60vh auto 100vh 160vh 80vh 80vh 10vh ;
    }
    #ctn-proyect{
        width: fit-content;
        margin-bottom: 5pc;
    }
    .bg-hobbies{
        flex-direction: column;
    }
    .desc-2{
        width: 400px;
    }
    #proyec-card-left1{
        margin-left: 3pc;
    }
    
}
@media only screen and ( max-width : 890px ) {
    #container{
        grid-template-rows: 7vh 80vh 90vh auto 100vh 280vh 80vh 80vh 10vh ;
    }

    .bg-about{
        flex-direction: column;
    }
    #ctn-img-about{
        width: calc(100vw/2);
    }
    #ctn-img-about::before{
        width: calc(100vw/2);
    }
    .ctn-blog{
        height: auto;

        width: fit-content;
        height: auto;

        grid-template-columns: auto;
        grid-template-rows: repeat(4,minmax(40vh,60vh));
        grid-template-areas: 
        "cardBlog1"
        "cardBlog2"
        "cardBlog3"
        "cardBlog4";
        row-gap: 20px   ;


    }
    #ctn-hobbie{
        overflow: hidden;
    }
    .ctn-blog-card{
        margin-right: 0%;
        width: 85vw;
        
    }
}
@media only screen and (max-width : 500px ){
    #container{
        grid-template-rows: 7vh 80vh 90vh auto auto 280vh 80vh 80vh 10vh ;
    }
    .sbttl-1{
        text-align: center;
    }
    #ctn-txt-about{
        width: fit-content;
    }
    .desc-1{
        width: 50vw;
        font-size: 0.8rem;
    }
    .desc-2{
        width: 50vw;
    }
    .bg-hobbies{
        overflow: hidden;
    }
    #ctn-hobbie{
        overflow: hidden;
        transform: translateX(35%);
        column-gap: 30px   ;
        transition: 1s all;
    }
    .ctn-hobbie-card{
        width: 200px;
        height: 200px;
    }
    #ctn-puntos{
        margin-top: 1pc;
        width: 100vw;
        height: 6vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .ctn-puntos-punto , .active{
        margin-left: 4px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    .ctn-puntos-punto{
        background-color: darkgray;
    }
    .active{
        background-color: rgb(20, 20, 88);
    }
}

