#Navbar{
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li{
  list-style: none;
  
}
#Li-Nav{
  display: inline-block;
  margin-left: 2pc;
  top: 0%;
}
#ctn-Name{
  width: 100%;
  height: 90vh;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#ctn-title-Hobbie{
  width: 100%;
  height: 9vh;
  font-size: 2pc;
  text-align: center;
}

ol{
  display: flex;
  flex-direction: row;
}
#About-me{
  margin: auto;
  width: 60vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#About-img{
  width: 20vw;
  height: 20vh;
  background-color: cadetblue;
  clip-path: circle(50% at 50% 50%);
}
#ctn-Redes{
  width: 3vw;
  height: 23vh;
  display: flex;
  flex-direction: column;

  position: fixed;
}
#ctn-route-Redes{
  background-color: rgb(50, 117, 119);
  width: 100%;
  height: 7vh;
  margin-top: 2px;
}
#ctn-Li-Hobbie{
  width: 30vw;
  height: 50vh;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 300ms ease-in-out ;
}
.ctn-all-Hobbies{
  width: 100%;
  height: 80vh;
  margin-top: 3pc;
  background-color: coral;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#ctn-Hobbies{
  margin-top: 3pc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#ctn-Li-Hobbie:hover{
  transform: scale(1.1);
}
.ctn-foto-Hobbie{
  width: 20vw;
  height: 40vh;
  clip-path: circle(50% at 50% 50%);
  background-color: aquamarine;
}
#ctn-Contact{
  background-color: aquamarine;
  width: 100%;
  height: 70vh;
  margin: auto;
  margin-top: 4pc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#btn-Contact{
  height: 5vh;
  width: 20vw;
  border-radius: 30px;
  background-color: cadetblue;
  margin-top: 3pc;
  text-align: center;
  padding-top: 10px;
  
}

footer{
  margin-top: 3pc;
  color: aliceblue;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 58);
}
#ctn-all-Habilities{
  width: 100%;
  height: 100vh;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
#ctn-title-Habilities{
  text-align: center;
}

@media only screen and (max-width : 748px){
    #ctn-Hobbies{
      flex-direction: column;
    }
    #ctn-Li-Hobbie{
      margin-left: 0%;
      margin-top: 2pc;
      width: 50vw;
    }
    .ctn-foto-Hobbie{
      width: 40vw;
    }
}